<!-- <p>app-shell works!</p>


<img class="loading-indicator" src="assets/images/loading.gif"> -->

<div class="container">

    <div id="navigation-bar">
      <nav>
      <ul class="container">
        <li><a class="nav-link" routerLink="/Home">Home</a></li>
        <li><a class="nav-link" href="#">Products </a></li>
        <li><a class="nav-link" href="#">About</a></li>
        <li><a class="nav-link" href="#">Help</a></li>
      </ul>
      </nav>
    </div>
  </div>
  
    <footer class="container">
    <p>Footer</p>
    </footer> 