<nav>
  <ul class="nav-list container">
    <li class="nav-list-item">
      <a mat-stroked-button routerLink="/responsive" routerLinkActive="active">Responsive Module</a>
    </li>
    <li class="nav-list-item">
      <a mat-stroked-button routerLink="/materialTable" routerLinkActive="active">Material Table </a>
    </li>
    <li class="nav-list-item">
      <a mat-stroked-button routerLink="/materialRoundCornerTable" routerLinkActive="active">Material Table
        RoundCorner</a>
    </li>
    <li class="nav-list-item">
      <a mat-stroked-button routerLink="/commonStyle" routerLinkActive="active">Common Styles</a>
    </li>
    <li class="nav-list-item">
      <a mat-stroked-button routerLink="/storeImplementation/" routerLinkActive="active">Store Implementation</a>
    </li>
    <li class="nav-list-item">
      <a mat-stroked-button routerLink="/preLoad" routerLinkActive="active">Preload</a>
    </li>
  </ul>
</nav>
